.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 350px;
  width: 100%;
}

.headerContent {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.headerContent:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}

.headerContent > a {
  text-decoration: none;
}

.title {
  margin: 10px auto;
  font-family: "Texturina";
  max-width: 40%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.sectionTitle {
  font-family: "Texturina";
  margin: 10px;
}

.description,
.playersInfo {
  text-align: justify;
  font-size: 14px;
  border-top: 1px solid #00000073;
  border-bottom: 1px solid #00000073;
  line-height: 1.6;
  padding: 15px 5px;
}

.join,
.roles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.join > p {
  margin: 5px 0;
}

.joinCode {
  font-weight: bold;
  color: rgb(0, 73, 156);
}

.info {
  font-size: 13px;
}

.button {
  font-size: 14px;
  width: 60px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cecece;
  border-radius: 4px;
  padding: 8px;
}
.button:hover {
  color: #3a9fd6;
  border: 2px solid #3a9fd6;
  transition: all 0.5s;
}
