.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: center cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.headerContent {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  transition: all 0.4s;
}
.headerContent:hover {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.headerContent > * {
  margin: 5px 0 20px 0;
}
.title {
  max-width: 40%;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.content > * {
  margin: 5px 0 20px 0;
}
.header {
  height: 350px;
  width: 100%;
}

.button {
  font-size: 14px;
  width: 60px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cecece;
  border-radius: 4px;
  padding: 8px;
}

/* .button > span {
  color: #640909;
} */
/* .button > span:hover {
    color: #3a9fd6;
  } */

.button:hover {
  color: #3a9fd6;
  border: 2px solid #3a9fd6;
  transition: all 0.5s;
}
.button:hover > span {
  color: #3a9fd6;
  transition: color 0.5s;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 20px 0;
  text-align: justify;
  font-size: 14px;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fbfeff;
  border-radius: 4px;
  transition: border 0.5s;
  padding: 7px;
}

.join > p {
  margin: 5px 0;
}

.join:hover {
  border: 2px solid #3a9fd6;
  transition: border 0.5s;
}

.joinCode {
  font-weight: bold;
  color: rgb(0, 73, 156);
}

.info {
  font-size: 13px;
}
