.charInfoSection * {
  font-family: "Texturina";
  cursor: default;
}

.charInfoSection {
  margin-bottom: 30px;
}

.sectionTitle {
  padding: 10px 0 8px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccd1dad2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionTitle span {
  font-size: large;
  font-weight: 400;
  display: inline-block;
}

.charIcon {
  width: 150px;
  height: 150px;
  border: 2px solid #7f8288d2;
  border-radius: 100%;
  margin: 0 20px;
  transition: transform 0.3s;
}

.charIcon:hover {
  border: 2px solid #3a9fd6;
  transform: scale(1.02);
  transition: transform 0.3s;
}

.charInfoContent {
  display: flex;
  /* align-items: center; */
}

.mainStats {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.mainStats svg {
  padding-right: 7px;
  font-size: large;
}

.singleStat {
  margin: 10px;
  min-width: 140px;
}
.statRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: large;
  justify-content: space-between;
}

.statRow span {
  padding: 5px 15px;
  transition: all 0.3s;
  /* center font and icon vertically */
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

.statLabel {
  border: 1px solid #ebebecd2;
  border-radius: 10px 0 0 10px;
}

.statValue {
  border: 1px solid #ccd1dad2;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
}

.singleStat:hover span {
  background-color: #f8f8f8;
}
.singleStat:hover svg,
.singleStat:hover .statLabel {
  color: #2778a3;
  color: rgba(1, 58, 88, 0.993);
  transition: all 0.2s;
}

/* ABILITIES */

.abilities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 30px 50px;
}

.abilityTitle {
  font-weight: bold;
  font-size: large;
  padding: 5px;
  margin-bottom: 5px;
}

.abilityTitle svg {
  padding-right: 10px;
  transition: all 0.2s;
}
.singleAbility {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleAbility:hover .abilityScore {
  background-color: #f8f8f8;
}

.singleAbility:hover svg,
.singleAbility:hover .abilityTitle {
  color: #2778a3;
  transition: all 0.2s;
}

.abilityTitle:hover {
  cursor: pointer;
}

.abilityCircle {
  display: flex;
  flex-direction: column;
}

.abilityScore,
.modifierScore {
  display: flex;
  width: 100px;
  height: 50px;
  border: 1px solid #7f8288d2;
  border-radius: 101px 101px 0 0px;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.abilityScore {
  padding-top: 6px;
}
/* .modifierScore {
  border-top: none !important;
  margin-top: -3px; 
} */
.modifierScore {
  border: 1px solid #c3c3c5d2;
  border-radius: 0 0 110px 110px;
  color: rgb(116, 21, 21);
}
