.characterForm * {
  font-family: "Texturina";
}

.characterForm h3 {
  padding: 10px 0;
}

.title {
  font-family: "Texturina";
  padding-bottom: 10px;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #ccd1dad2;
}

.nameRaceClassContainer label,
.levelForm label,
.bioContainer label {
  font-weight: bold;
  font-size: 16px !important;
}

.nameRaceClassContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 4%;
}

.physicalAppearanceContainer,
.bioFirstRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4%;
}

.abilityScoresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.checkboxGroupContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 5fr));
  gap: 10px;
}

.pageInfo {
  font-size: 20px;
  font-family: "Texturina";
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 850px) {
  .nameRaceClassContainer,
  .bioFirstRow {
    display: flex;
    flex-direction: column;
  }

  .physicalAppearanceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
  }
}

/* Spell Cards */

.motionWrapper {
  height: 100%;
}

.spellCollapseComponent {
  border: none;
  border-radius: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.151);
}

.spellsGroupContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 4fr));
  gap: 10px;
  /* prevent text select on mouse drag */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spellsGroupContainer label > span:nth-child(2) {
  height: 100%;
  width: 100%;
}

/* hide the checkbox */
.spellsGroupContainer label > span:nth-child(1) {
  display: none;
}

.spellCard {
  height: 100%;
}

.spellSpecContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(243, 243, 243);
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 5px;
}

.cardDescriptionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Can't select specific ant classes with css module, we need to access global classes */
/* Selected spells */

:global(.css-dev-only-do-not-override-zl9ks2.ant-checkbox-wrapper) .spellCard {
  transition: color 0.2s;
}

:global(.css-dev-only-do-not-override-zl9ks2.ant-checkbox-wrapper)
  .spellSpecsContainer {
  transition: all 0.2s;
}

:global(.css-dev-only-do-not-override-zl9ks2.ant-checkbox-wrapper-checked)
  .spellCard {
  border: 1px solid rgb(155, 155, 155);
  background-color: #eef4f8a8;
  transition: all 0.2s;
}

:global(.css-dev-only-do-not-override-zl9ks2.ant-checkbox-wrapper-checked) * {
  color: black;
}
:global(.css-dev-only-do-not-override-zl9ks2.ant-checkbox-wrapper-checked)
  .spellSpecContainer {
  border-color: #eef4f8a8;
  background-color: #dfe1e2;
  transition: all 0.2s;
}

/* When they can't select any more spells */
.spellCard:has(.spellsFull) {
  background-color: antiquewhite;
}

.spellsGroupContainer :global(.ant-checkbox-wrapper-disabled) .spellCard {
  opacity: 0.65;
}

.messageWrapper {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  border-image: radial-gradient(
      circle,
      #224674,
      #496593,
      #6e85b3,
      #93a7d4,
      #b9cbf6
    )
    1;
  width: 65%;
  margin: auto;
  padding: 10px 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spellCountInfoWrapper {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spellCountContent {
  margin: 10px 0;
  font-size: large;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
  gap: 10px;
}
