/* .combatContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*/
.combatContent :global(.ant-divider) {
  margin: 20px 0px;
}
.combatContent h2 {
  padding: 10px;
  border-bottom: 1px solid #ccd1dad2;
  text-align: center;
}

.playingAsDiv {
  text-align: center;
  padding: 5px 15px;
  font-size: larger;
}
.playingAsDiv span {
  font-weight: bold;
  padding-left: 5px;
}

.chatWrapper {
  padding: 10px;
  border: 1px solid #ccd1dad2;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.192);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  height: 800px;
}

.initiativeBar,
.messagesBar,
.buttonsBar {
  /*   height: 100%; */
  overflow: hidden;
}

.barTitle {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: larger;
  border-bottom: 1px solid #ccd1dad2;
  text-align: center;
}

/* INITIATIVE */
.initiativeBar {
  padding: 10px;
  overflow-y: scroll;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.initiativeBar ol {
  padding-left: 10px;
  padding-right: 5px;
}

.initiativeBar li,
.addToInitiativeInput {
  background-color: #ecbc7371;
  border-radius: 2px;
  padding: 3px 10px;
  margin: 3px;
  transition: all 0.3s;
  position: relative;
}

.addToInitiativeInput {
  width: 100%;
  box-sizing: border-box;
}

.initiativeBar li:hover {
  scale: 1.08;
  transition: all 0.3s;
  cursor: grab;
}

.initiativeBar li svg {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  margin-right: 0;
  padding: 0 5px;
  font-size: smaller;
  transition: all 0.3s;
  cursor: pointer;
}

.initiativeBar li:hover svg {
  opacity: 1;
  padding: 0 5px;
  font-size: smaller;
  transition: all 0.4s;
}
.initiativeBar li:hover svg:hover:nth-child(1) {
  color: red;
}

.addToInitiativeInput {
  border: 1px dashed #96764771;
  background-color: white;
}

.initiativeBar .addToInitiative {
  list-style: none;
  background-color: transparent;
  border: 1px dashed rgb(88, 88, 88);
  transition: all 0.3s;
  text-align: center;
}
.addToInitiative:hover {
  scale: 1.1;
  transition: all 0.3s;
  /* cursor: pointer; */
}

.messagesBar {
  border-left: 1px solid #ccd1dad2;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
}

.messagesWrapper {
  overflow-y: scroll;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  height: 100%;
}

/* Message text input */
.textInputWrapper {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-bottom: 5px;
}

.textInputWrapper svg {
  width: 30px;
  font-size: 20px;
  height: 100%;
  padding: 0 7px;
  border-radius: 5px;
  border: 1px dashed #ccd1dad2;
  cursor: pointer;
  transition: all 0.5s;
}
.textInputWrapper svg:hover {
  background-color: rgba(236, 188, 115, 0.443);
  transition: all 0.4s;
}

/* Right bar, roll dice buttons */

.buttonsBar {
  padding: 10px;
}

.buttonsBar * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.allButtonsGroups {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxGroup {
  text-align: center;
}

.buttonsGroup :global(.ant-checkbox-group) label {
  margin-bottom: 10px;
}

.modifiersGroup {
  display: flex;
  align-items: baseline;
}

.numberInput {
  width: 50px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 5px 10px;
}

.modifiersGroup svg {
  font-size: large;
  color: rgba(55, 59, 75, 0.88);
  transition: all 0.3s;
}
.modifiersGroup svg:hover {
  cursor: pointer;
  color: rgb(58, 159, 214);
  scale: 1.1;
  transition: all 0.3s;
}

.diceButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.chatWrapper button:hover {
  scale: 1.08;
}
.buttonsGroup button {
  height: 70px;
  width: 80px;
  padding: 7px;
  text-align: center;
  border-radius: 4px;
}

/* d20 button is different */
.buttonsBar > .buttonsGroup:first-of-type button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.buttonsBar > .buttonsGroup:first-of-type button svg {
  font-size: 30px;
  padding-bottom: 5px;
}

/* the messages and rolls in the chat  */

.combatMessageWrapper {
  background-color: #ccc9bc8c;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px;
  min-width: 120px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.192);
}

.ownMessageWrapper {
  background-color: #d3dde2b9;
  align-self: flex-end;
}

.messageContent {
  border-top: 1px dashed white;
}

.messageHeader {
  font-size: smaller;
  padding-bottom: 3px;
}

.rollContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border: 1px dashed white;
  border-radius: 5px;
  max-width: 180px;
}

.rollContent > p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  margin-right: 5px;
}
.rollContent > p:nth-child(2) {
  font-size: small;
  text-align: center;
}

/* Scroll bar design */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #58597e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f284e;
}

/* no joined character message */
.messageWrapper {
  width: 90%;
  margin: auto;
  padding: 10px 0;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
