.content {
  color: #333131;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

h2 {
  margin: 50px;
}

.table {
  margin: 25px;
}
.shopMenu {
  width: 50%;
}
.details {
  width: 40%;
  margin-top: 60px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}
.details img,
.itemDescription {
  margin-bottom: 50px;
  width: 60%;
  height: auto;
}
