.background {
  /* background-color: #7cacbb; */
  background-color: #373d49f9;
}

.mainNav {
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}

.welcomeLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4px;
}

.title {
  font-family: "Texturina";
  font-size: 35px;
  margin: -5px;
}
.appLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  color: #3a9fd6;
  font-size: 35px;
}

@keyframes logoShake {
  25% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }
  75% {
    rotate: 10deg;
  }
  100% {
    rotate: -10deg;
  }
}
.icon:hover {
  animation: logoShake 0.4s;
  animation-iteration-count: 1.5;
}

.subtitle {
  padding: 0;
  font-family: "Texturina";
  font-size: 12px;
}

.titleLink {
  text-decoration: none;
  color: #f3f3f3;
}

.secondRow {
  border-top: 1px solid #5d6779d2;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  font-size: 18px;
}

.secondRow p {
  margin-top: 0px;
  align-self: center;
}

.navLinks {
  display: flex;
}

.navLink {
  color: white;
  display: flex;
  text-decoration: none;
  font-family: "Texturina";
  padding: 2px 17px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

/* .button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: white !important;
} */

.navLink:hover {
  color: #ffffff;
  transition: color 0.3s;
  border-bottom: 2px solid #3a9fd6;
  transition: all 0.5s;
}

/* Campaign bar */

.campaignNavBackground {
  background-color: #467188;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.campaignNavLink {
  padding: 0 20px;
  margin: 3px 0px 5px 0;
  font-size: 17px;
}

.campaignNavLink:hover {
  border-bottom: 2px solid #373d49;
  transition: all 0.5s;
}

.activeNavLink {
  background-color: #c7e9ff46;
  border-radius: 30px;
}
