.campaignTitle {
  font-family: "Texturina";
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccd1dad2;
}

.cardsList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.cardsList * {
  text-decoration: none;
}

.icon {
  font-size: 100px;
  padding: 20px 0 0 0;
  width: 100%;
  color: #368fbe;
}
