* {
  font-family: var(--text-sans-serif);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-serif);
  font-weight: 400;
}

body,
html {
  height: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1800px;
  }
} */
@media (min-width: 1536px) {
  .container {
    max-width: 1800px;
  }
}

#root {
  display: flex;
  justify-content: flex-start;
  justify-items: start;
  alighn-items: stretch;
  height: 100%;
  padding: 1rem;
  overflow-y: hidden;
  gap: 1.5rem;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}
