:root {
  --color-primary: #3a9fd6;
  --color-primaryAlt: #467188;
  --color-secondary: #373d49;
  --color-hover: #3a9fd6;
  --color-highlight: #ce6400ff;
  --color-secondaryAlt: #373d49f9;
  --color-lightStroke: #5d6779d2;
  --color-backgroundFA: #fafafa;
  --color-body: ;
  --color-headline: ;
  --color-whiteF: #f3f3f3;
}
