:root {
  --color-primary: #3a9fd6;
  --color-primaryAlt: #467188;
  --color-secondary: #373d49;
  --color-hover: #3a9fd6;
  --color-highlight: #ce6400ff;
  --color-secondaryAlt: #373d49f9;
  --color-lightStroke: rgba(93, 103, 121, 0.82);
  --color-lightBorder: #efefef;
  --color-backgroundFA: #fafafa;
  --color-body: ;
  --color-headline: ;
  --color-whiteF: #f3f3f3;
}
