* {
  box-sizing: border-box;
}

.content {
  color: #333131;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.createdCampaignsSection {
  margin: 20px;
}

.createdCampaignsHeader {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

a {
  color: rgb(34, 40, 122);
  align-self: center;
}

h2 {
  margin-top: 0;
}

.createdCampaignsSection > ul {
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
ul > div {
  width: 24%;
  min-width: 200px;
}

/* TO MAINTAIN IMAGE RATIO 3:2 */
.coverDiv {
  padding-bottom: 70%;
  position: relative;
}
.coverDiv img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
