.mainWrapper {
  color: #333131;
  margin: auto;
  width: 1500px;
}

.sectionLink {
  text-decoration: none;
  color: #3b3c3fd2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 13px;
  transition: all 0.5s;
}

.sectionLink > span {
  color: #3b3c3fd2;
  transition: all 0.5s;
}

.sectionLink:hover {
  color: #0050ac;
  letter-spacing: 1.3px;
  border-radius: 5px;
  transition: all 0.3s;
}
.sectionLink:hover > span {
  color: #226f99;
  transition: all 0.3s;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  border-bottom: 1px solid #ccd1dad2;
}

.sectionHeader h2 {
  font-family: "Texturina";
}

.section :global(.ant-card) {
  box-shadow: none;
}

.section a {
  align-self: center;
}

.section > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.campaignsList > div {
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.281);
}

/* Add and join card */

.addMoreCard {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 350px;
  cursor: pointer;
}

.addMoreWrapper * {
  text-decoration: none;
}

.addMoreWrapper {
  border-radius: 10px;
}

.addMoreCard svg {
  font-size: 90px;
  color: rgb(58, 159, 214);
}

.addMoreCard :global(.ant-card-cover) {
  height: 100%;
  display: flex;
  align-items: center;
}

/* TO MAINTAIN IMAGE RATIO 3:2 */
.coverDiv {
  padding-bottom: 70%;
  position: relative;
}
.coverDiv img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.motionDiv {
  border-radius: 8px;
}

/* Width of the whole content wrapper */
@media (max-width: 1550px) {
  .mainWrapper {
    width: 1000px;
  }
}
@media (max-width: 1050px) {
  .mainWrapper {
    width: 800px;
  }
}
@media (max-width: 850px) {
  .mainWrapper {
    width: 450px;
  }

  .section > ul {
    padding: 20px;
  }

  .charactersSection > ul {
    justify-items: center;
  }

  .characterCard {
    width: 300px;
  }
}

@media print {
  .mainWrapper {
    width: 950px;
    zoom: 65%;
  }
}
/* CHARACTER CARDS ARE A BIT DIFFERENT */

.characterCard {
  border: none;
  max-width: 250px;
}

.characterCard .coverDiv {
  display: flex;
  justify-content: center;
}

.characterCard img {
  border-radius: 100% !important;
  width: auto;
}

.characterCard .characterMeta div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Texturina";
  font-size: large;
}

.characterCard :global(.ant-card-meta-title) {
  text-align: center;
}
